<!DOCTYPE html>
<html lang="en">
<head>
    <title> About US </title>
    <link rel="stylesheet" href="/Static/Css/about.css">
    <link rel="stylesheet" type="text/css" href="E:\Breast Cancer\Static\Css\about.css">

</head>
<body>

    <header>
        
        <nav>
            <div class="logo"> IBM Team ID : NM2023TMID05250</div>
            <ul class="menu">
                <li><a href="file:///E:/Breast%20Cancer/Templates/index.html">Home</a></li>
                <li><a href="file:///E:/Breast%20Cancer/Templates/classify.html">Classify</a></li>
                <li><a href="file:///E:/Breast%20Cancer/Templates/team.html">Team</a></li>
                <li><a href="#">About</a></li>
            </ul>
        </nav>
        
    </header>

    <main class="main"> 

        <div class="web-title">
            <h2> cancerVision:Advanced Breast Cancer prediction with Deep learning </h2>
            <p> Breast cancer is one of the main causes of cancer death worldwide. Computer-aided diagnosis systems showed potential for improving the diagnostic accuracy. But early detection and prevention can significantly reduce the chances of death. It is important to detect breast cancer as early as possible. The goal is to classify images into two classifications of malignant and benign. As early diagnostics significantly increases the chances of correct treatment and survival.</p>
        </div>

        
    </main>

    <footer></footer>
</body>
</html>